body {
  background-color: #fff;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}

h1 {
  color:#222;
  margin:0 0 20px;
  font-size: 24pt;
}

h3 {
  color:#111;
  font-size: 12pt;
}

#wrapper {
	width: 100%;
	/*border: 1px solid black;*/
	position: relative;
	height: 800px;
	float: left;
}

label {
	text-align: center;
}

.input-example {
	width: 35%;
	float: left;
  text-align: center;
	padding: 0px 10px 0px 10px;
  border-right: 1px dashed gray;
  font-size: 10pt;
}

#interactive-panels {
	width: 100%;
	float: left;
	height: 100%;
  padding-left: 5px;
  margin-left: -1px;
}

.output-example {
	width: 20%;
	float: left;
	text-align: center;
	padding: 0px 10px 0px 10px;
  margin: 0 auto;
  font-size: 10pt;
}

.viz {
  width: 43%;
  min-height: 200px;
	float: left;
	text-align: center;
	padding: 0px 10px 0px 10px;
}

#tool-title {
	width: 100%;
	/*border: 1px solid black;*/
	position: relative;
	height: 100px;
	padding: 10px 10px 40px 40px;
	background-color: grey;
	float: left;
}

#tool-title .title{
	width: 40%;
	float: left;
	text-align: left;
}

#tool-title .title h1{
	height: 20px;
	padding: 0px 0px 00px -10px;
}

#tool-title .panel{
	width: 30%;
	float: right;
	text-align: center;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar rect:hover{
  fill: rgba(0,0,0,.8);
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.btn-file {
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* skin.css Style*/
.dash-box {
  border-style: dashed;
  border-color: #ccc;
}
.dash-box-w-text {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 400px;
  text-align: center
}

table {
  margin: 0 auto; /* or margin: 0 auto 0 auto */
}

.tbl th {
  text-align: center;
}

.tbl {
  padding-bottom: 5px;
  min-height:280px;
}

.ipanel {
  width: 98%;
  height: 300px;
  margin: 0 auto;
}

.buttons {
  padding-bottom: 10px;
}

#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

.tabs h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

.tabs .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

.tabs .nav-pills > li > a {
  border-radius: 2px 2px 0 0 ;
}

.tabs .tab-content {
  color : white;
  border-radius: 1;
  border-color: #428bca;
  padding : 5px 15px;
}

pre {
  text-align: left;
}